  
// <<<<< LINK
pre, table:not(.highlight), .katex-display, .break-layout  {
  $pad: $content-padding * 2;

  @media screen {
    position: relative;
    width: calc(100% + #{$pad});
  }

  @media screen and (min-width: $content-width) {
    $x: ($content-width / 2) - $pad;
    width: calc(100% + 50vw - #{$x});
  }

  @media screen and (min-width: $break-point-2) {
    $x: ($content-width-2 / 2) - $pad;
    width: calc(100% + 50vw - #{$x});
  }

  @media screen and (min-width: $break-point-3) {
    $x: $sidebar-width + $content-margin-3;
    width: calc(100vw - #{$x});
  }

  @media screen and (min-width: $break-point-4) {
    $x: $content-width-2 + $sidebar-width + $content-margin-3 - $pad;
    width: calc(100% + 100vw - #{$x});
  }

  @media screen and (min-width: $break-point-5) {
    $x: $content-width-5 + $sidebar-width + $content-margin-5 - $pad;
    width: calc(100% + 100vw - #{$x});
  }

  @media screen and (min-width: $break-point-dynamic) {
    $x: ($content-width-5 / 2) - $pad;
    width: calc(100% + 50vw - #{$x});
  }
}
// >>>>>
