  
// <<< link
@media screen {
  a.external,
  a[href*="//"]:not(.no-mark-external):not(.no-mark),
  a.no-push-state:not(.no-mark-external):not(.no-mark) {
    &::after {
      content: "\00A0\ea7e";
      font-family: 'icomoon'!important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: smaller;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      opacity: 0.33;
      transition: opacity 500ms;
    }
    &:hover::after, &:focus::after {
      opacity: 1;
      transition: opacity 100ms;
    }
  }
}
// >>>
