  
// <<<<< INLINE
.fixed-common {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 2;
}

.fixed-top {
  @extend .fixed-common;
  top: 0;
}

.fixed-bottom {
  @extend .fixed-common;
  bottom: 0;
}

.navbar > .content {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  color: var(--menu-text);
}

.nav-btn-bar {
  margin: 0 -1rem 0 -.875rem;
}

.nav-btn {
  background: none;
  border: none;
  padding: 1.75rem .875rem;
  color: var(--menu-text)!important;
  cursor: pointer;
}

.animation-main {
  opacity: 0;
  pointer-events: none;
}
// >>>>>
// <<<< LINK
.navbar {
  @media print { display: none; }
  .loading { display: none; }
}

#_navbar {
  position: absolute;
  height: 0;
}

#_cookies-banner  {
  @extend .color-transition;
  background-color: var(--body-bg);
  border-top: 1px solid var(--border-color);
}
// >>>>
