body {
  --code-font-family: #{$code-font-family};

  --font-weight: #{$font-weight};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-heading: #{$font-weight-heading};

  --text-muted: #{$gray};
  --gray-bg: #{$gray-bg};
  --gray-text: #{$gray-text};
  --menu-text: #{$menu-text};
  --body-color: #{$body-color};
  --body-bg: #{$body-bg};
  --border-color: #{$border-color};
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.color-transition {
  transition: background-color 1s ease, border-color 1s ease;
}

.no-color-transition {
  transition: none!important;
}
