  
// <<<<< INLINE
.message {
  @extend .color-transition;
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--gray-text);
  background-color: var(--gray-bg);
  margin-left: -1rem;
  margin-right: -1rem;
}
// >>>>>
