---
layout: base
---


{% include components/post.html post=page no_link_title=true no_excerpt=true hide_image=page.hide_image %}


<hr class="dingbat related" />


{% assign addons = page.addons | default:site.hydejack.post_addons %}
{% unless addons %}{% assign addons = "about,newsletter,related,random" | split:"," %}{% endunless %}
{% for addon in addons %}
  {% case addon %}
  {% when 'about' %}
     {% include components/about.html %}
  {% when 'newsletter' %}
    {% include pro/newsletter.html %}
  {% when 'related' %}
    {% include components/related-posts.html post=post %}
  {% else %}
  {% endcase %}
{% endfor %}
